In [3]:
from mip import *
import numpy as np
import pandas as pd

Using Python-MIP package version 1.6.6

In [4]:
xls = pd.ExcelFile('Data/estimativa_dou_2019.ods', engine="odf")

In [7]:
pop = pd.read_excel(xls, 1, header=1).loc[:5569][["UF", "NOME DO MUNICÍPIO", "POPULAÇÃO ESTIMADA"]]
pop.columns = ["fu", "name", "population"]

In [8]:
pop

      fu                   name population
0     RO  Alta Floresta D'Oeste      22945
1     RO              Ariquemes     107863
2     RO                 Cabixi       5312
3     RO                 Cacoal      85359
4     RO             Cerejeiras      16323
...   ..                    ...        ...
5565  GO             Vianópolis      13863
5566  GO         Vicentinópolis       8743
5567  GO               Vila Boa       6171
5568  GO          Vila Propício       5821
5569  DF               Brasília    3015268

[5570 rows x 3 columns]